* {
    margin: 0;
    padding: 0;
    font-size: 23px;

}
a {
    text-decoration: none;
}
.text {
    font-family: arial, serif;
}

.menu_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    box-sizing: border-box;
    background-color: #eff5f5;
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.38);
    margin-bottom: 2px;
}
.menu_logo {
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 10px;
    width: 70px;
}
.menu_items {
    display: flex;
    align-items: center;
}
.menu_home {
    width: 100px;
    margin-left: 50px;

}
.menu_store {
    position: relative;
}
.diamond {
    width: 7px;
    height: 7px;
    margin-left: 5px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
.store_bl {
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    position: absolute;
    display: none;
    text-align: justify;
    word-wrap: break-word;
    background-color: #eff5f5;
    font-family: arial, serif;
}
.store_block_1 {
    top: 20px;
}
.store_block_2 {
    top: 70px;
}
.store_block_3 {
    top: 120px;
}
.menu_about {
    margin-left: 50px;
}
.menu_contact {
    margin-left: 50px;
}

.menu_store:hover
    .store_bl {
        display: block;
        box-shadow: 0px 35px 56px -4px rgba(34, 60, 80, 0.2);
    }
    .diamond {
        transform: rotate(135deg);
        transition: 0.1s;
    }

.menu_store:not(:hover) + .diamond {
    transform: rotate(-45deg);
    transition: 0.1s;
}
.menu_right {
    display: flex;
    justify-content: center;
    order: 5;

}
.menu_item_search {
    height: 30px;
    width: 30px;
    align-self: center;
}
.menu_item_cart {
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
}
.menu_item_instagram {
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 30px;
    margin-right: 50px;
}

.main_fon {
    display: flex;
    justify-content: space-around;
    background-color: #eef2f6;
    height: 91vh;
}
.left_side_main_fon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.left_side_description_box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}
.left_side_h1 {
    font-size: 65px;
    font-family: arial, serif;
}
.left_side_description {
    width: 400px;
    margin-top: 30px;
    font-size: 25px;
    font-family: arial, serif;
    word-spacing: 0.1em;
    line-height: 30px;
}
.left_side_pick {
    margin-top: 35px;
    padding: 20px 25px;
    border-radius: 35px;
    background: deepskyblue;
    width: fit-content;
    font-size: 25px;
    font-family: arial, serif;
    letter-spacing: 0.05em;
}
.fon_page_1 {
    width: 50%;
    background-color: #eef6f2;
}
.fon_page_1_img {
    float: right;
    height: 91vh;
}
.menu_second_section {
    background: #f6f2ee;
}
.second_section_block {
    display: flex;
    justify-content: center;

    height: 300px;
    list-style-type: none;
    color: deepskyblue;
    font-weight: bold;

}
.li_position {
    align-self: center;
    transition: 0.2s;
}
.section_block_text {
    color: deepskyblue;
    font-size: 50px;

}
.text_block_2 {
    margin-left: 250px;
    margin-right: 250px;
}
.li_position_block_1:hover, .li_position_block_2:hover, .li_position_block_3:hover {
    padding-bottom: 20px;
    transition: 0.2s;
}


.menu_cart_section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background: #ede5dd;
}
.title_cart_container {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    align-self: center
}

.cart_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    background: #ede5dd;
    width: 1300px;

}
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    height: 483px;
    margin: 20px 20px;


}
.cart_border {
    height: 384px;
    overflow: hidden;
}

.cart_text {
    margin-top: 20px;
    font-size: 20px;

}
.cart_text_href {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
.image_icon {
    overflow: hidden;
    transition: 0.2s;
    width: 384px;
    height: 384px;
}

.image_icon:hover {
    transform: scale(1.2);
    transition: 0.2s;

}