<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Sams-Olka</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
  <div class="top">
    <header class="menu_nav">

      <div class="menu_items">
        <div class="menu_logo">
          <a th:href="@{#}"> <img th:src="@{/images/menu_logo.png}" alt="logo"></a>

        </div>
        <div class="menu_home"><a th:href="@{#}">Home</a></div>
        <div class="menu_store"><a th:href="@{#}">Store</a>
          <div class="menu_hover">
            <div class="store_bl store_block_1"><a th:href="@{#}">Books</a></div>
            <div class="store_bl store_block_2"><a th:href="@{#}">Original Arts</a></div>
            <div class="store_bl store_block_3"><a th:href="@{#}">Prints</a></div>
          </div>

        </div>
        <div class="diamond"></div>
        <div class="menu_about"><a th:href="@{#}">About</a></div>
        <div class="menu_contact"><a th:href="@{#}">Contact</a></div>
      </div>
      <div class="menu_right">
        <div class="menu_item_search"><a th:href="@{#}"><img th:src="@{/images/search.svg}" alt="logo search"></a></div>
        <div class="menu_item_cart"><a th:href="@{#}"><img th:src="@{/images/bag.svg}" alt="bag"></a></div>
        <div class="menu_instagram"><a class="menu_item_instagram" th:href="@{#}">Instagram</a></div>
      </div>
    </header>
    <div class="main_fon">
      <div class="left_side_main_fon">
        <div class="left_side_description_box">
          <h1 class="left_side_h1">Sams-Olka</h1>
          <div class="left_side_description">Welcome to the store of original art by Olga Samsonova</div>
          <a class="left_side_pick" th:href="@{#}">Pick a Friend</a>
        </div>
      </div>
      <div class="fon_page_1">
        <img class="fon_page_1_img" th:src="@{/images/fon_1.png}" alt="picture"/>
      </div>
    </div>
    <div class="menu_second_section">
      <ul class="second_section_block">
        <li class="li_position li_position_block_1"><a class="section_block_text text_block_1" th:href="@{#}">Book</a></li>
        <li class="li_position li_position_block_2"><a class="section_block_text text_block_2"th:href="@{#}">Original Art</a></li>
        <li class="li_position li_position_block_3"><a class="section_block_text text_block_3"th:href="@{#}">Prints</a></li>
      </ul>
    </div>
    <div class="menu_cart_section">
      <h2 class="title_cart_container text">Featured Artworks</h2>
      <div class="cart_container">
        <div class="cart cart_index_1">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_2">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_3">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_4">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_5">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_6">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_7">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_8">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_9">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_10">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_11">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
        <div class="cart cart_index_12">
          <div class="cart_border">
            <img class="img_index_1 image_icon" th:src="@{/images/carts/bear.jpg}" alt="cart_1"/>
          </div>
          <div class="cart_text text">life with bear</div>
          <a class="cart_text_href" th:href="@{#}">buy now &rarr;</a>
        </div>
      </div>
    </div>

    <!--    <h1>Welcome to...</h1>-->

  </div>
</body>

</html>